@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
    #no-more-tables table{width: "100%"; border-spacing: 0px;} 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr { 
        display: block; 
    }
 
    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr { 
        position: absolute;
    }
 
    
    #no-more-tables td { 
        /* Behave  like a "row" */
        border: none;
    /*  border-bottom: 1px solid #eee; */
        position: relative;
        padding-left:30%; 
        white-space: normal;
        text-align:left;
    }
 
    #no-more-tables td:before { 
        /* Now like a table header */
        position:relative;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 100%; 
        padding-right: 0px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
 
    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}

    table{
        border-collapse: separate;
        border-spacing: 10px; /* Apply cell spacing */
    }

    table th, table td{
        padding: 5px; /* Apply cell padding */
    }
